{{!-- PRÉSENTATONS DES LOCATIONS  --}}

      <div class="site-section">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center">
              <h2 class="font-weight-light text-black">Our Locations are here for you</h2>
            </div>
          </div>
          <div class="row">
            {{# each locations }}
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <a href="/{{this.id_location}}" class="unit-1 text-center">
                <img src="img/{{this.title}}.jpg" alt="{{this.title}}" class="img-fluid" style="max-width: 345px; max-height: 230px;">
                <div class="unit-1-text">
                  <h3 class="unit-1-heading">{{this.title}}</h3>
                  <strong class="text-white mb-2 d-block">{{this.description}}</strong>
                  <p class="unit-1-heading"><img src="img/favicon.ico" alt="placeholder" style="width: 30px; height:40x">{{this.town}}</p>
                </div>
              </a>
              {{!-- <button type="button" class="btn btn-default"><a href="admin/edit/{{this.id_location}}">EDIT</a></button> --}}
              <a href="admin/edit/{{this.id_location}}" class="btn btn-warning" role="button">EDIT</a>
              <a href="admin/remove/{{this.id_location}}" class="btn btn-danger" role="button">REMOVE</a> 
              {{!-- <button type="button" class="btn btn-default"><a href="/admin/remove/{{this.id_location}}">DELETE</a></button>   --}}
            </div>
            {{/each}}
            </div> 
        
            <div><button type="button" class="btn btn-primary">ADD A LOCATION</button></div>



{{!-- BULLET POINTS NEIGHBORHOODZ  --}}

    <div class="site-section">
      <div class="container">
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-airplane"></span></div>
              <div>
                <h3>SPORT</h3>
                <p>Discover the different sport grounds that you can rent. Our team is confident that you will find the right field for the sport you want to practice.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-ship"></span></div>
              <div>
                <h3>PARTY</h3>
                <p>Find the ideal party room for the event you want to organize. You will have a choice of rooms depending on the number of people invited.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="unit-4 d-flex">
              <div class="unit-4-icon mr-4"><span class="text-primary flaticon-route"></span></div>
              <div>
                <h3>BUSINESS</h3>
                <p>Find the meeting room your team needs. They are all equipped and ready to welcome your enriching discussions.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
{{!-- TÉMOIGNAGE  --}}

    {{!-- <div class="site-section block-13 bg-light"> --}}

    <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7">
            <h2 class="font-weight-light text-black text-center">Testimonials</h2>
          </div>
        </div>

        <div class="nonloop-block-13 owl-carousel">

          <div class="item">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 mb-5">
                  <img src="img/louis.jpg" alt="Image" class="img-md-fluid">
                </div>
                <div class="overlap-left col-lg-6 bg-white p-md-5 align-self-center">
                  <p class="text-black lead">I booked a basketball court in Boistfort for a small tournament with friends and it was made available to us very quickly when we arrived. Thank you Neighborhoodz!</p>
                  <p class="">&mdash; <em>Louis Ryckmans</em>, Lessee</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    
