{{!-- AFFICHAGE SEUL D'UNE FICHE LOCATION, PAS FINIE! --}}

<div>
    <h3>{{this.title}}</h3>
    <img src="img/{{this.title}}.jpg" alt="{{this.title}}" class="img-fluid" style="max-width: 345px; max-height: 230px;">
    <p>{{this.description}}</p>
    <p><img src="img/favicon.ico" alt="placeholder" style="width: 30px; height:40x"> {{this.town}}</p>

</div>